#filter-import:checked ~ .packages-container .package-card[data-category*="import"] {
  display: block;
}
#filter-convert:checked ~ .packages-container .package-card[data-category*="convert"] {
  display: block;
}
#filter-documents:checked ~ .packages-container .package-card[data-category*="documents"] {
  display: block;
}
#filter-transcriptions:checked ~ .packages-container .package-card[data-category*="transcriptions"] {
  display: block;
}
#filter-visualization:checked ~ .packages-container .package-card[data-category*="visualization"] {
  display: block;
}
#filter-text-analysis:checked ~ .packages-container .package-card[data-category*="text analysis"] {
  display: block;
}
